*{
    margin: 0%;
}
/*Nav section*/

.nav{
    display: grid;
    justify-items: center;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    justify-items: right;
    justify-self: center;
    margin: 30px 20px;
    width: max-content;
}
.nav-logo-img{
    height: 19px;
}
.nav-button{
    background: #fafafa;
    border-radius: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #c90cad;
    font-size: 10px;
    padding: 5px 10px;
    border: solid #c90cad 2px;
    text-decoration: none;
    grid-column: 3;
}
.nav-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 80px 30px 30px;
}
.nav-para{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin: 0px 30px 50px;
}
.nav-big-button{
    border-radius: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    background: hsl(322, 100%, 66%);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 50px;
}

/*Welcome section*/

.wel-img{
    height: 220px;
    width: fit-content;
}
.welcome-img{
    margin: 50px auto;
    display: grid;
    justify-items: center;
}
.welcome-cards{
    display: grid;
    justify-items: center;
    margin: 100px 0px 0px;
}
.cards-img{
    height: 25px;
    position: relative;
    right: 18%;
}
.card-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.card-para-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.card-para-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    margin:0% 50%;
    text-align: center;
}

/*freture section*/

.feature-text{
    display: grid;
    justify-items: center;
}
.feature-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: hsl(192, 100%, 9%);
}
.feature-para{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    margin: 20px 30px 40px;
    text-align: center;
}
/*grow*/
.feature-grow{
    display: grid;
}
.grow-content{
    display: grid;
    justify-items: center;
    background-color: #F6FBFF;
}
.feature-grow-img{
    height: 200px;
    padding: 100px 0% 70px;   
}
.grow-top{
    width: 100vw;
}
/*flow*/
.feature-flow{
    display: grid;
    justify-items: center;
}
.feature-flow-img{
    height: 200px;
    padding: 150px 0% 70px;  
}
/*user*/
.feature-user{
    display: grid;
    margin: 100px 0px;
}
/*get-started*/
.feature-get-started{
    display: grid;
    justify-items: center;
}
.feature-get-started-heading{
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 23px;
    width: 85%;
    text-align: center;
}
.get-started-button{
    border-radius: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    background: #FF52BF;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    margin: 50px 0px 250px;
}

/*footer section*/

.main-footer{
    display: grid;
}
.footer-top-bg{
    width: 100vw;
}
.footer-content{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    padding: 50px 38px;
}
/*footer newsletter*/
.footer-newsletter{
    display: grid;
    justify-items: center;
    margin-bottom: 100px;
}
.footer-heading{
    justify-self: start;
    color: #F6FBFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.footer-text{
    text-align: start;
    color: #F6FBFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin:15px 0px 25px ;
    line-height: 25px;
}
.footer-email-input{
    width: 100%;
    height: 40px;
    border-radius: 5px ;
    border: none;
    font-size: 20px;
}
.subscribe{
    justify-self: end;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    background: #FF52BF;
    padding: 13px 40px;
    margin-top: 15px;
    text-decoration: none;
    border: none;
}
/*footer contact*/
.footer-logo-img{
    height: 32px;
}
.footer-logo .footer-text{
    margin-bottom: 50px;
}
.contact-info{
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    row-gap: 30px;
    column-gap: 10px;
}
.contact-text{
    color: #F6FBFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.social-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    margin-top: 50px;
}
.icon{
    color: #ffffff;
    font-size: 28px;
}
.icon-link{
    width: min-content;
}

/*desktop screen*/

@media (min-width:1100px){

    /*nav*/
    

}

